<div id="searchView">

    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control input-long" id="search" placeholder="Search for beer ...." ng-model="search">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="find()">Search</button>
    </form>

    <!-- <span ng-bind="search"></span> -->
</div>

<div id="listView">

    <div class="beerItem list-group" ng-repeat="beer in beers track by beer.id">
      <a ng-href="#!/beer/{{beer.id}}" class="list-group-item">
        <h4 class="list-group-item-heading"> {{beer.name}} </h4>
        <p class="list-group-item-text">

            <div class="beerIcon">
                <img class="beerIcon" ng-src="{{beer.labels.icon}}" >
            </div>
            <div class="beerDescription">
                {{beer.description}}
            </div>

        </p>
      </a>
    </div>

</div>
